In [496]:
import os
import sys
import numpy as np
import pandas as pd

### Used Functions

In [ ]:
def format_featnames(data):
    names = []
    featnames = []
    for line in data:
        names = line.split(' ',1)
        string = names[1]
        string = string[:-1]
        names[1] = string
        featnames.append(names[1])
        
    return featnames

def format_feats(data):
    feat = []
    id_list = []
    for line in data:
        feats = line.split()
        id_list.append(feats[0])
        feat.append(feats[1:])
    return id_list, pd.DataFrame(feat).T

### Reading all edges datasets and modeling

In [497]:
dfs = []
edge = []
edges = []

for i in range(4):
    dfs.append("dataset/"+ open(str(i) + ".edges", "r"))

for df in dfs:
    for line in df:
        edge = line.split()
        edges.append(edge)

In [498]:
edges = pd.DataFrame(edges)
edges.columns = edges.iloc[0]
edges = edges.drop(edges.index[0])

edges.head()

0    x    y
1  236  186
2  122  285
3   24  346
4  271  304
5  176    9

In [501]:
edges.to_csv('all_edges.zip', index=False)

### Reading all featnames datasets and modeling

In [556]:
dfs = []
names = []
featname = []

for i in range(4):
    dfs.append("dataset/"+ open(str(i) + "featnames", "r"))
    featname.append(format_featnames(dfs[i]))

In [563]:
fn0 = pd.DataFrame(featname[0])
fn1 = pd.DataFrame(featname[1])
fn2 = pd.DataFrame(featname[2])
fn3 = pd.DataFrame(featname[3])

featnames = [fn0, fn1, fn2, fn3]

### Reading all feats datasets and modeling

In [657]:
dfs = []
feats = []
id_list = []

for i in range(4):
    dfs.append("dataset/"+ open(str(i) + ".feat", "r"))

In [658]:
id_list0, f0 = format_feats(dfs[0])
id_list1, f1 = format_feats(dfs[1])
id_list2, f2 = format_feats(dfs[2])
id_list3, f3 = format_feats(dfs[3])

id_list = [id_list0, id_list1, id_list2, id_list3]
feats = [f0, f1, f2, f3]

In [659]:
f0.head()

,0,1,2,3,4,5,6,7,8,9,...,337,338,339,340,341,342,343,344,345,346
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Joining featnames and feats

In [669]:
for i in range(4):
    dataset = []
    dataset = feats[i]
    dataset['id'] = featnames[i]
    
    cols = dataset.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    dataset = dataset[cols]
    
    dataset = dataset.T
    dataset.columns = dataset.iloc[0]
    dataset = dataset.drop(dataset.index[0])
    
    dataset['id'] = id_list[i]
    cols = dataset.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    dataset = dataset[cols]
    
    dataset.to_csv("dataset/"+ "dataset"+str(i)+".csv", index=False)